<div class="container">
    <h1><%= title %></h1>
    <p class="lead"><%= message %></p>
    
    <div class="features">
        <div class="feature">
            <h3>Express框架</h3>
            <p>快速、极简的Node.js Web框架</p>
        </div>
        <div class="feature">
            <h3>EJS模板</h3>
            <p>简单易用的JavaScript模板引擎</p>
        </div>
        <div class="feature">
            <h3>ES6支持</h3>
            <p>使用现代JavaScript语法和模块系统</p>
        </div>
    </div>
    
    <div class="actions">
        <a href="/about" class="btn btn-primary">了解更多</a>
        <a href="/users" class="btn btn-secondary">查看用户</a>
    </div>
</div>