<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">Express + EJS</a>
            </div>
            <%- include('./navigation') %>
        </div>
    </div>
</header>
